.homepageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.homeTitle {
  color: white;
  position: absolute;
  right: 0;
}

.homeTitle a:link,
.homeTitle a:hover,
.homeTitle a:visited {
  color: white;
}
