.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 2;
  padding: 1rem;
}

.title {
  font-size: 30px;
}

.subTitle {
  font-size: 18px;
}

.container a:link,
.container a:hover,
.container a:visited {
  color: white;
}
